{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    {% for book in books %}
    <div class="container">
        {{book.title}}
        {% for author in authors %}
            {% if author.book_id == book.id %}
                {% for name in author.name%}
                    <a href="/authors/{{author.id[loop.index0]}}">{{name}}</a>
                {%endfor%}
            {% endif %}
        {%endfor%}
        {{book.name}}
    </div>

    {%endfor%}

  </div>

{% endblock %}
